@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    height: 100vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.truncate-sm {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-transform: ellipsis;
    white-space: normal;
}

button {
    cursor: pointer;
}

.down::-webkit-scrollbar {
    background-color: #121212;
    width: 1px;
    height: 1px;
    transition: all ease-in 0.5s;
}

.left::-webkit-scrollbar {
    background-color: #121212;
    height: 4px;
}

.left:hover::-webkit-scrollbar {
    background-color: #121212;
    width: 4px;
    height: 4px;
}

.left:hover::-webkit-scrollbar-thumb {
    background-color: grey;
    cursor: pointer;
    height: 4px;
    width: 4px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .down::-webkit-scrollbar {
        background-color: #121212;
        width: 1px;
        height: 1px;
    }
    .down::-webkit-scrollbar-thumb {
        background-color: #121212;
        width: 1px;
        height: 1px;
    }
}

@media screen and (max-width: 1024px) {
    .side-container {
        display: none;
    }

    .main-container {
        height: 100vh;
    }
}
